/* src/App.css */

.App {
    background-color: #121212; /* Cor de fundo geral escura */
    color: #ffffff; /* Texto branco */
    min-height: 100vh; /* Garantir que a altura mínima cubra a tela */
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  